@charset "ISO-8859-1";

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFCC;
	background-image: linear-gradient(rgba(0, 10, 0, 0.5),
		rgba(80, 80, 90, 0.5)),
		url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-clear-531880.jpg&fm=jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.nav-bar {
	background: rgba(0, 0, 0, 0.09);
	height: 80px;
}

.logo {
	margin: 10px 50px;
	height: 60px
}

.menu {
	float: right;
	list-style: none;
	margin: 20px;
}

.menu li {
	display: inline-block;
	margin: 10px 5px;
}

.menu li a {
	text-decoration: none;
	color: #fff;
	passing: 5px 10 px;
	font-family: sans-serif;
	letter-spacing: 2px;
	border: 1px solid #fff;
}

.menu li a:hover {
	background: #FFD700;
	transition: .4s;
	color: #000;
	border: 1px solid #000;
}

.welcome {
	position: relative;
	text-align: center;
	font-family: sans-serif;
	color: #fff;
	top: 160px;
}

.welcome h1 {
	font-size: 42px;
	margin: 25px;
}

.btn {
	font-size: 18px;
	letter-spacing: 2px;
	margin: 5px;
	padding: 7px 10px;
	text-decoration: none;
	border: 1px solid #fff;
}

.btn1 {
	background: #fff;
	color: #000;
}

.btn2 {
	background: #fff;
	color: #000;
	position: relative;
}

.btn1:hover {
	background: #000;
	color: #fff;
	transition: .4s;
}

.btn2:hover {
	background: #FFD700;
	color: #000;
	transition: .4s;
}

.banner {
	display: flex;
	margin-top: 80px;
}

.left-column, .right-column {
	flex-basis: 50%;
}

.right-column img {
	margin-top: 550px;
	width: 50%;
	position: relative;
}

.left-column {
	width: 100%;
	display: flex;
	margin-top: 450px;
}

.left-column h1 {
	color: #fff;
	text-decoration: aqua;
	font-family: cursive;
	width: 100%;
	position: absolute;
	text-align: center;
}

.left-column p {
	color: #fff;
	font-family: cursive;
	font-size: 25px;
	width: 250%;
	margin-top: 150px;
	padding: 10px 10px 10px 10px;
	position: relative;
	text-align: left;
	float: right;
}

h2 {
	color: #fff;
	passing: 5px 10 px;
	font-family: sans-serif;
}

.classMenu {
	float: center;
	list-style: none;
	margin: 80px;
	margin-bottom: 20px;
	column-count: 2;
	column-gap:85px;
}

.classMenu li {
	display: list-item;
	margin: 10px 5px;
}

.classMenu li a {
	text-decoration: none;
	color: #fff;
	passing: 5px 10 px;
	font-family: sans-serif;
	letter-spacing: 2px;
	font-size: 30px;
}

.classMenu li a:hover {
	color: #FFD700;
	transition: .4s;
}

.instructions {
	position: relative;
	text-align: center-right;
	color: #fff;
	top: 160px;
	margin-right: 40px;
	margin-left: 75px;
}

.instructions h1 {
	color: #fff;
	text-decoration: aqua;
	font-family: cursive;
	width: 100%;
	text-align: center;
	margin-top: 175px;
}

.instructions p {
	color: #fff;
	font-family: cursive;
	font-size: 25px;
	width: 100%;
	margin-top: 20px;
	padding: 10px 10px 10px 10px;
	position: relative;
	text-align: left;
	float: right;
	margin-right: 40px;
	margin-left: 50px;
}

.btn3 {
	background: #fff;
	color: #000;
	margin: 550px;
	position: relative;
}

.btn3:hover {
	background: #000;
	color: #fff;
	transition: .4s;
}

.dataTable tr th {
	text-align: center;
	width: 300px;
	line-height: 30px;
}

.selectableDB {
	text-align: left;
	display: inline-block;
}

.selectableDB label {
	font-size: 14.2px;
}

table.dataTable {
	margin-top: 50px;
	margin-left: 15px;
	font-family: "Times New Roman", Times, serif;
	border: 0px solid #3C4694;
	background-color: #EEEEEE;
	/*   background: rgba(.09, 0.9, .09, 0.09); */
	width: 100%;
	text-align: center;
	width: 100%;
	border: 1px;
	min-width: 100%;
	position: relative;
	opacity: 0.99;
	background: rgba(0, 0, 0, 0.10);
}

table.dataTable td, table.dataTable th {
	border: 0px solid #24943A;
	padding: 3px 2px;
}

table.dataTable tbody td {
	font-size: 13px;
	border: 1px solid #388094;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.19);
}

table.dataTable td:nth-child(even) {
	background: #BAD3F5;
	background: rgba(0, 0, 0, 0.30);
}

table.dataTable thead {
	opacity: 0.99;
	/*   background: transparent; */
	background: rgba(0, 0, 0, 0.09);
}

table.dataTable thead th {
	font-size: 19px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
	border: solid #388094;
}

table.dataTable tfoot {
	font-size: 13px;
	font-weight: bold;
	color: #F0F0F0;
	background: #3F5194;
	background: -moz-linear-gradient(top, #6f7caf 0%, #52629e 66%, #3F5194 100%);
	background: -webkit-linear-gradient(top, #6f7caf 0%, #52629e 66%, #3F5194 100%);
	background: linear-gradient(to bottom, #6f7caf 0%, #52629e 66%, #3F5194 100%);
	border-top: 1px solid #388094;
	opacity: 0.99;
	background: transparent;
}

table.dataTable tfoot td {
	font-size: 13px;
}

table.dataTable tfoot .links {
	text-align: right;
}

table.dataTable tfoot .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #388094;
	padding: 2px 8px;
	border-radius: 5px;
}

form {
	margin-top: 30px;
	margin-left: 15px;
	font-family: "Times New Roman", Times, serif;
	font-size: 19px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
}

form legend {
	font-size: 19px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
}

fieldset {
	border: solid #388094;
}

.selectableDB select {
	display: inline-block;
}

table.csClassTable {
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "Times New Roman", Times, serif;
	border: 0px solid #3C4694;
	background-color: #EEEEEE;
	width: 100%;
	text-align: center;
	width: 100%;
	border: 1px;
	min-width: 100%;
	position: relative;
	opacity: 0.99;
	background: rgba(0, 0, 0, 0.10);
}

table.csClassTable td, table.csClassTable th {
	border: 0px solid #24943A;
	padding: 3px 2px;
}

table.csClassTable tbody td {
	font-size: 20px;
	border: 1px solid #388094;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.19);
}

table.dataTable td:nth-child(even) {
	background: #BAD3F5;
	background: rgba(0, 0, 0, 0.30);
}

table.csClassTable thead {
	opacity: 0.99;
	/*   background: transparent; */
	background: rgba(0, 0, 0, 0.09);
}

table.csClassTable thead th {
	font-size: 22px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
	border: solid #388094;
}

table.csClassTable tfoot {
	font-size: 13px;
	font-weight: bold;
	color: #F0F0F0;
	opacity: 0.99;
	background: transparent;
}

table.csClassTable tfoot td {
	font-size: 13px;
}

table.csClassTable tfoot .links {
	text-align: right;
}

table.csClassTable tfoot .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #388094;
	padding: 2px 8px;
	border-radius: 5px;
}
/**Table for competency**/
table.compTable {
	margin-top: 125px;
	margin-left: 150px;
	margin-right: 15px;
	font-family: "Times New Roman", Times, serif;
	border: 0px solid #3C4694;
	background-color: #EEEEEE;
	width: 25%;
	align: left;
	text-align: center;
	border: 1px;
	float: left;
	opacity: 0.99;
	background: rgba(0, 0, 0, 0.10);
}

table.compTable tbody td {
	font-size: 20px;
	border: 1px solid #388094;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.19);
}


table.compTable thead th {
	font-size: 22px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
	border: solid #388094;
}


table.compTable thead th {
	font-size: 22px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
	border: solid #388094;
}


/**Table for distribution area**/
table.distrTable {
	margin-top: 50px;
	margin-left: 15px;
	margin-right: 200px;
	font-family: "Times New Roman", Times, serif;
	border: 0px solid #3C4694;
	background-color: #EEEEEE;
	width: 25%;
	align: right;
	text-align: center;
	border: 1px;
	float: right;
	opacity: 0.99;
	background: rgba(0, 0, 0, 0.10);
}

table.distrTable tbody td {
	font-size: 20px;
	border: 1px solid #388094;
	color: #FFFFFF;
	background: rgba(0, 0, 0, 0.19);
}


table.distrTable thead th {
	font-size: 22px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
	border: solid #388094;
}


table.distrTable thead th {
	font-size: 22px;
	font-weight: bold;
	color: #F0F0F0;
	text-align: center;
	border: solid #388094;
}



DIV.drafttable {
	display: table;
	margin-top: 50px;
	margin-left: 15px;
	font-family: "Times New Roman", Times, serif;
	border: 0px solid #3C4694;
	background-color: #EEEEEE;
	width: 100%;
	text-align: center;
	border: 1px;
	min-width: 100%;
	position: relative;
	opacity: 0.99;
	background: rgba(0, 0, 0, 0.10);
}

FORM.tr, DIV.tr, DIV.th{
	display: table-row; 
/* 	margin:25px; */
}

SPAN.td {
	display: table-cell;
/* 	margin:25px; */
}

form{
/* 	margin-top:100px; */
}


div.drafttable.footer {
	font-size: 13px;
	font-weight: bold;
	color: #F0F0F0;
	background: #3F5194;
	background: -moz-linear-gradient(top, #6f7caf 0%, #52629e 66%, #3F5194 100%);
	background: -webkit-linear-gradient(top, #6f7caf 0%, #52629e 66%, #3F5194 100%);
	background: linear-gradient(to bottom, #6f7caf 0%, #52629e 66%, #3F5194 100%);
	border-top: 1px solid #388094;
	opacity: 0.99;
	background: transparent;
}
div.footer{
	margin-top: 20px;
}
div.footer .links {
	text-align: right;
	font-size: 13px;
}

div.footer .links a {
	display: inline-block;
	background: #FFFFFF;
	color: #388094;
	padding: 2px 8px;
	border-radius: 5px;
	
}


